
@{
    ViewData["Title"] = "LogIn";
}

<h1>Stadium Manager</h1>



<div class="d-grid gap-2">
    <a asp-action ="ViewMyStadiumInfo" button type="button" class="btn btn-outline-primary">VIEW MY STADIUM INFO</a>
    <a asp-action="ViewRequestsReceived" button type="button" class="btn btn-outline-primary">
        VIEW MY REQUESTS</a>
    <a asp-action="ViewPendingRequest" button type="button" class="btn btn-outline-primary">VIEW ALL UNHANDLED REQUESTS</a>
   
</div>
