
@{
    ViewData["Title"] = "LogIn";
}

<h1>Club Representative</h1>



<div class="d-grid gap-2">
   
    <a asp-action="ViewMyClubInfo" button type="button" class="btn btn-outline-primary">VIEW MY CLUB INFO</a>

    <a asp-action="ViewMyClubUpcomingMatches" button type="button" class="btn btn-outline-primary">VIEW MY CLUB UPCOMING MATCHES</a>

     <a asp-action="ViewAllAvailableStadiums" button type="button" class="btn btn-outline-primary">VIEW ALL AVAILABLE STADIUMS</a>
    
     <a asp-action="sendRequest" button type="button" class="btn btn-outline-success">SEND REQUEST TO A STADIUM MANAGER</a>

</div>
