


@{
    ViewData["Title"] = "ViewMyClubInfo";
}

<h1>ViewMyClubInfo</h1>

<table class="table table table-bordered tabletable-striped" style=" width:100%">
    <thead>
        <tr>
            <th>
                Club name
            </th>
            <th>
                club location
            </th>
        </tr>
    </thead>

    <tbody

        <tr>

            <td width="50%">
                @ViewBag.ClubName
            </td>

            <td width="50%">
                @ViewBag.ClubLocation

            </td>
       
    
    </tr>
       
        </tbody>
       
