
@{
    ViewData["Title"] = "addMatch";
}

<h1>addMatch</h1>


@if (TempData["failed"] != null)
{
    <h2>@TempData["failed"]</h2>
}


@using (Html.BeginForm("addMatch","SportsAssociationManager"))
{



    

    <div class="form-group">
        <label >Host Club Name</label>
        <input type="text" name="hostName" class="form-control" placeholder="Name">
    </div>


    <div class="form-group">
        <label>Guest Club Name</label>
        <input type="text" name = "guestName" class="form-control" placeholder="Name">
    </div>




    <div class="form-group">
        <label>START TIME</label>
        <input type="datetime-local" name="startTime" id="startTime" class="form-control" placeholder="Month/Day/Year">
    </div>



    <div class="form-group">
        <label>END TIME</label>
        <input type="datetime-local" name="endTime" id="endTime" class="form-control" placeholder="Month/Day/Year">
    </div>


    

    <br>

    <button type="submit" class="btn btn-primary">Submit</button>

}



@section Scripts{

    @{
    <partial name="_ValidationScriptsPartial" />
    }
    }

