
@{
    ViewData["Title"] = "Pick";
}

<h1>Pick who you will be</h1>




<div class="d-grid gap-2">
    <a asp-controller="SignUp" asp-action="SystemAdmin" class="btn btn-dark ">SYSTEM ADMIN</a>
    <BR>
    <a asp-controller="SignUp" asp-action="SportsAssociationManager" class="btn btn-dark ">SPORTS ASSOCIATION MANAGER</a>
    <BR>
    <a asp-controller="SignUp" asp-action="ClubRepresentative" class="btn btn-dark">CLUB REPRESENTATIVE</a>
    <BR>
    <a asp-controller="SignUp" asp-action="StadiumManager" class="btn btn-dark">STADIUM MANAGER</a>
    <BR>
    <a asp-controller="SignUp" asp-action="Fan" class="btn btn-dark">FAN</a>
   
</div>







