
@{
    ViewData["Title"] = "LogIn";
}

<h1>Fan</h1>



<div class="d-grid gap-2">
    <a asp-action="ViewMatchesAvailable" button type="button" class="btn btn-outline-primary">VIEW ALL MATCHES THAT HAVE AVAILABLE TICKETS</a>

</div>

